* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-ExtraBoldItalic.ttf);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-LightItalic.ttf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "OpenSans";
    src: url(./font/OpenSans-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

body {
    margin: auto;
    width: 100%;
}
/* Menu Nav, full header CSS */
header {
    background-image: url("./images/header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.504);
    display: flex;
}

nav img {
    margin-right: 315px;
    padding-left: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    color: white;
    display: flex;
    margin: 0;
}

nav li {
    list-style-type: none;
    justify-content: space-between;
    font-family: "OpenSans";
    font-size: 1em;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 144px;
    margin: 0;
}

nav li:hover {
    background-color: #d31f44;
}

h1 {
    color: white;
    font-family: "OpenSans";
    font-size: 3em;
    padding-top: 280px;
    padding-bottom: 20px;
    text-align: center;
}

#fofo {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    font-family: "OpenSans";
    font-size: 2.2em;
    font-weight: 300;
    text-align: center;
}

#button1 {
    background-color: #d31f44;
    border: 1px black;
    color: white;
    font-family: "OpenSans";
    font-size: 18px;
    margin-left: 880px;
    margin-right: 820px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/* First block CSS, this is the next ! */
h2 {
    font-family: "OpenSans";
    font-size: 1.8em;
    margin-top: 50px;
    text-align: center;
}

#n1 {
    background-image: linear-gradient(to left, white, #d31f44fe);
    border: none;
    height: 3px;;
    margin-right: 875px;
    margin-left: 880px;
    margin-top: 20px;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.text {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 400px;
    margin-bottom: -50px;
}

.text1 {
    display: flex;
    flex-direction: column;
    font-family: "OpenSans";
    font-size: 0.8em;
    margin-left: 320px;
    margin-right: -50px;
    text-align: right;
    width: 450px;
}

.text1 p {
    padding-bottom: 30px;
}


#imgt {
    display: block;
    margin-top: 70px;
}

.text2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    font-family: "OpenSans";
    font-size: 0.8em;
    text-align: left;
    margin-right: 260px;
    margin-left: 0;
    width: 450px;
}

.text2 p {
    margin-top: -30px;
    margin-left: -50px;
}

.text2 ul {
    margin-top: 30px;
    margin-left: -30px;
    line-height: 20px;
    list-style: none;
}

.text2 li::before {
    content: "\2022";
    color: #d31f44;
    display: inline-block;
    font-size: 30px;
    width: 1em;
    margin-left: -1em;
}

/* The 2nd block, hard try to style this ! */
/* Background + underline title */
.block2 {
    background-image: url("./images/bg2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    width: 100%;
    height: 440px;
}

#n2 {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    border: none;
    height: 3px;;
    margin-right: 875px;
    margin-left: 880px;
    margin-top: 20px;
}
/* moving all text, without title */
#pinky1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
}
/* all div one by one */
.theory {
    width: 250px;
    text-align: center;
    line-height: 30px;
}

.codage {
    width: 250px;
    text-align: center;
    line-height: 30px;
}

.ressources {
    width: 250px;
    text-align: center;
    line-height: 30px;
}

.savoirs {
    width: 250px;
    text-align: center;
    line-height: 30px;
}

.formation {
    width: 250px;
    text-align: center;
    line-height: 30px;
}

/* And now, let's go for the 3rd block ! */
/* background and underline */
.block3 {
    background-color: #3e3e3e;
    color: white;
    font-family: "OpenSans";
    height: 650px;
    margin-top: 0;
    padding-top: 5px;

}

.didi {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-self: center;
}

#n3 {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    border: none;
    height: 3px;;
    margin-right: 1500px;
    margin-left: 250px;
    margin-top: 20px;
}

#t2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
}

.metier {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 25px;
    width: 650px;
    margin-left: 60px;
    margin-top: 50px;
}

.metier p {
    padding-bottom: 30px;
}

#vid {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-top: 50px;
    margin-left: -100px;
}

#button2 button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: "Opensans";
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px;
}

#button2 {
    padding-right: 450px;
}

#button2 button:hover {
    background-color: #d31f44;
}
/* Go to the 4th block */
/* Hmm, start with the title ? */
.block4 {
    background-color: white;
    height: 450px;
}

#n4 {
    background-image: linear-gradient(to left, white, #d31f44ff);
    border: none;
    height: 3px;;
    margin-right: 910px;
    margin-left: 790px;
    margin-top: 20px;
}

#imgproj {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-left: 350px;
    margin-top: 40px;
}

/* The 5th block */
#titrepro {
    background-image: url(./images/titpro.png);
    height: 300px;
    width: auto;
}

#titrepro p {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 30px;
}
